/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a base font size and family */
html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #e3f2fd;
  border-bottom: 2px solid #90caf9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'Space+Mono', monospace;
  color: #1565c0;
  margin: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  text-align: center;
}

nav {
  background-color: #3991f0;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main section {
  margin-bottom: 2rem;
  padding: 1.5rem;
  background-color: #e3f2fd;
  border-bottom: 2px solid #90caf9;
  border-right: 2px solid #90caf9;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

main section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #1565c0;
  text-align: center;
  font-family: 'Space+Mono', monospace;
}

main section p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
}

main section img {
  width: 120px;
  height: 120px;
  /* border-radius: 50%; */
  border: 2px solid #90caf9;
  object-fit: cover;
  position: relative;
  float: left;
  margin-right: 1rem;
}

main section video {
  display: block;
  max-width: 100%;
  height: 400px;
  margin-top: 1rem;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

body {
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-weight: bold;
}

p {
  margin-bottom: 1rem;
}

/* a {
  color: #007BFF;
  text-decoration: none;
} */

/* a:hover {
  text-decoration: underline;
} */



button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: #3991f0;
  color: #fff;
  padding: 1rem 2rem;
  font-weight: bold;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer .section {
  flex: 1;
  text-align: center;
}

footer .section:first-child {
  text-align: left;
}

footer .section:last-child {
  text-align: right;
}

footer p {
  margin: 0;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

footer a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}


/* tablets*/
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  header h1 {
    font-size: 2rem;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    gap: 0.5rem;
  }

  main {
    padding: 1rem;
  }

  main section {
    padding: 1rem;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }

  footer .section {
    text-align: center;
  }
}

/* telefonos */
@media (max-width: 480px) {
  header img {
    width: 50px;
    height: 50px;
  }

  header h1 {
    font-size: 1.5rem;
  }

  nav ul {
    gap: 0.9rem;
    flex-direction: row;
  }

  main section h2 {
    font-size: 1.5rem;
  }

  main section p {
    font-size: 1rem;
  }

  main section img {
    width: 100px;
    height: 100px;
    margin: 10px auto;
  }

  main section video {
    height: auto;
  }

  button {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
  }

  footer {
    padding: 0.5rem;

  }
  
  footer .section {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    gap: 0.5rem;
  }
}